; includes for "Git Hub" and public type repos
[includeIf "gitdir:~/workspace/src/github.com/**"]
    path = ~/.gitconfig-github
; includes for "Red Hat" and private type repos
[includeIf "gitdir:~/workspace/src/gitlab.cee.redhat.com/**"]
    path = ~/.gitconfig-gitlab
[includeIf "gitdir:~/workspace/src/gitlab.com/**"]
    path = ~/.gitconfig-gitlab
; devaipod workspace containers: use HTTPS + gh credential helper
[includeIf "gitdir:/workspaces/**"]
    path = ~/.gitconfig-devaipod
[core]
	editor = $(which vim)
[gpg]
	program = gpg
[init]
	templateDir = ~/.git-template
[rh-pre-commit]
	checkSecrets = true
	enableLocalConfig = false
[rh-pre-commit "commit-msg"]
	signOff = false
